body {
    display: block;
}

main {
    margin: auto;
    width: 80%;
    text-align: center;
}

#container {
    align: center;
    margin: auto;
    width: 61%;
}

#erase {
    margin-bottom: 10px;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 800px;
    height: 800px;
    border: 2px solid black;
}

.squareBox{
    flex-grow: 1;
    height: 48px;
    width: 48px;
    border: 1px solid black;
}

.hovered {
    background-color: black;
}

